        /* Import Font */
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); /* Ubuntu as default font  */
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        /* ----------- */
        *,
        html,
        body {
            padding: 0;
            margin: 0;
            font-family: 'Ubuntu', sans-serif;
        }

        .fContainer {
            background-color: #e6e6e6;
            width: 100%;
            height: 100vh;
        }

        .navbar-wrapper {
            background-color: #222;
            border-bottom: 10px solid salmon;
            width: 100%;
            height: 47px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .fullname {
            display: flex;
            flex-direction: row;
            gap: 5px; /* Spacing */
            margin-left: 15px;
            font-size: 20px;
            font-weight: bold;
        }

        .firstname {
            color: #fff;
        }

        .lastname {
            color: yellow;
        }

        .navbar-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 15px;
            list-style-type: none;
        }

        .navbar-list li {
            padding: 15px;
        }

        .navbar-list a {
            text-decoration: none;
            color: #fff;
            padding: 15px;
            font-size: 15px;
        }

        .navbar-list a:hover {
            background-color: #525252;
            color: #fff; /* Add white text color */
            border-radius: 5px; /* Add border radius */
            transition: background-color 0.3s ease; /* Add smooth transition */
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

            .profile-icon img {
                width: 200px;
                height: 200px;
                border-radius: 100%;
                border: 5px solid lime;
                margin-top: 30px;
            }

            .profile-icon img {
                width: 200px;
                height: 200px;
                border-radius: 100%;
                border: 1px solid lime;
                margin-top: 30px;
                animation: border-glow 2s ease-in-out infinite alternate;
            }
        
            @keyframes border-glow {
                from {
                    box-shadow: 0 0 0 0 lime;
                }
                to {
                    box-shadow: 0 0 0 5px lime;
                }
            }

        .typing {
            margin-top: 25px;
            display: inline-block;
            animation: typing 2s steps(20) forwards;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid #000;
            font-size: 24px;
        }

        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }

        .profile-stats {
            text-align: center;
            font-size: 22px;
        }

        .vismis {
            margin-top: 80px;
            background-color: #222;
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .visihead, .misihead, .visiview, .misiview {
            color: #fff;
            margin-left: 15px;
            margin-top: 15px;
        }

        .visiview {
            width: 650px;
            text-align: justify;
        }

        .misiview {
            width: 650px;
            text-align: justify;
            margin-right: 15px;
            margin-bottom: 15px;
        }
        
        a {
            text-decoration: none;
        }

        .center-contact {
            display: flex;
            justify-content: center;
        }

        .contact {
            margin-top: 20px;
            background-color: #3700ff;
            width: max-content;
            height: max-content;
            border-radius: 20px;
            
        }

        .contact-list {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 50px;
        }

        .contact-list a {
            text-decoration: none;
            color: rgb(47, 255, 109);
            font-size: 30px;
            margin-left: 40px;
            margin-right: 40px;
        }

        @media (max-width: 768px) { 

            .fullname {
                font-size: 16px;
            }
        
            .navbar-list li {
                padding: 10px;
            }
        
            .navbar-list a {
                font-size: 12px;
            }
        
            .profile-icon img {
                width: 150px;
                height: 150px;
                margin-top: 20px;
            }
        
            .typing {
                font-size: 20px;
            }
        
            .navbar-list a:hover {
                background: transparent;
                color: yellow;
            }

            .vismis {
                display: flex;
                flex-direction: column;
                margin: 0;
                margin-top: 15px;
                /* width: 480px; */
                /* width: max-content; */
                /* margin-left: 190px; */
            }

            .vismis p {
                font-size: 15px;
                width: 400px;
            }

            .vismis ol li {
                width: 400px;
                margin-left: 15px;
            }
        }
        